* {
    margin: 0;
    padding: 0;
    background-color: #f5f5f9;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

}

body {
    background-color: #f5f5f9;
    color: #768697;
}

#strong {
    margin-top: 2%;
}

#strong {
  font-size: 30px;
  color: navy;
  position: relative;
  right: 1%;
}

input {
    border: 1px solid grey;
    background-color: white;
    border-radius: 4px;
}

label {
    color: black;
}

#left {

    margin-left: -2.5%;
}



#search {
    margin-top: 5%;
}

#em {
    color: red;
}

.footer {
    float: left;
}

#previous {
    float: right;
}

.num {
    padding: 8px 12px 8px 12px;
    background-color: orangered;
    border-radius: 5px;
}
#searchbox {
  position: relative;
  left: 87%;
}

/*modal backround*/
* {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
 div .modal-header {
    padding: 0;
    border-bottom: 0;
    border-top-left-radius: none;
    border-top-right-radius: none;
  }
 div .modal-footer
{
    border-top: 0;
    border-bottom: 0;
    margin: 0px;
    padding: 0px 40px 0px 0px;
}

div .btn-primary
{
    background-color: rgb(0, 231, 123);
    border: none;
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
}

/*form*/
.form-group label
{
    margin-bottom: 3px;
    margin-top: 6px;
    font-size: 14px;
}
div .form-group
{
    margin-bottom: 0;
    
}
textarea .form-control {
    height: 50px;
  }

.col1heading
{
	background-color: rgb(0, 231, 123);
	max-width: 270px;
	color: black;
	border-radius: 3px;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 10%;
	
}
.col1heading p
{
	padding: 8px 0px 8px 0px;
    background-color: rgb(0, 231, 123);
	max-width: 270px;
	color: white;
	border-radius: 3px;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 10%;
}
#backdrop
{
	
	text-align: center;
	
}
#backdrop h3
{
	font-weight: 800;
	color: rgb(0, 231, 123);
	font-size: 36px;
}
#backdrop h4
{
	font-size: 32px;
	font-weight: 700;
	color: black;
}
ul
{
	display: inline-flex;
	list-style: none;
}
#close
{
    color: red;
    font-size: 10px;
}
#iconbase
{
    width: 35px;
    height: 35px;
    position: relative;
    background-color: lightgray;
    border-radius: 30px;
    margin: 0px 5px 0px 5px;
}
.fa-facebook-f, .fa-instagram, .fa-linkedin-in, .fa-twitter
{
    color: white;
    background-color: lightgray;
    font-size: 20px;
    position: absolute;
    top: 20%;
    right: 8px;
}
#icon
{
    margin-bottom: 50px;
}
.footer
{
    margin-top: 25px;
    padding-left: 15px;
}
.footer strong 
{
  font-weight: bolder;
  font-size: 14px;
}
.footer p 
{
  line-height: 13px;
  font-size: 11px;
}
#content
{
    padding-top: 60px;
}
.g-recaptcha
{
    margin-top: 15px;
}